<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Patrick Hogg">
    <title>Fragments</title>
</head>
<body>
<header th:fragment="header">
    <a th:href="@{/}">Murder Mystery</a>
</header>
<footer th:fragment="footer">
  <p>Copyright &copy; Patrick Hogg 2022</p>
</footer>
</body>
</html>