<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Patrick Hogg">
    <title>Murder Mystery</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/dialogueScripts.js}"></script>
</head>
<body>
<header th:replace="fragments/fragments :: header"></header>
<main>
    <div class="game">
        <div class="game-area">
            <div class="player-info-container">
                <div class="player-info">
                    <ul>
                        <li th:text="|Player: ${session.player.name}|"></li>
                        <li th:text="|Age: ${session.player.age}|"></li>
                        <li th:text="|Profession: ${session.player.profession}|"></li>
                    </ul>
                </div>
            </div>
            <div class="image-box">
                <img alt="" src="/imgs/characters/narrator/intro.jpg">
            </div>
            <div class="dialogue-box" id="dialogueBox">
                <p id="dialogueParagraph" data-id="0" data-speaker="Narrator">
                    Press Continue to start the game.
                </p>
                <button id="dialogueButton">Continue</button>
                <div class="dialogue-options">

                </div>
            </div>
        </div>
        <div class="sidebar-area">
            <div class="notes-area">
                <div class="title">
                    <p>Investigation Notes</p>
                </div>
                <div class="notes-container">
                    <label for="notes"></label>
                    <textarea th:text="${notes.notes}" id="notes" rows="10" cols="25" name="notes"></textarea>
                </div>
            </div>
            <div class="inventory-area">
                <div class="title">
                    <p>Inventory</p>
                </div>
                <div class="inventory-container">
                    <ul class="inventory-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>