<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Patrick Hogg">
    <title>Intro</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/dialogueScripts.js}"></script>
</head>
<body>
<main>
    <button id="dialogueButton">Click Me!</button>
    <div id="dialogue">

    </div>
</main>
</body>
</html>